

services:
  backend:
    build: .
    ports:
      - "50051:50051"
    environment:
      - DATABASE_URL=sqlite:///./superapp.db
      - KAFKA_BROKER_URL=kafka:9092
      - REDIS_URL=redis://redis:6379/0
    volumes:
      - ./superapp.db:/app/superapp.db
    depends_on:
      - kafka
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    ports:
      - "6379:6379"

  gateway:
    build: .
    ports:
      - "8000:8000"
    environment:
      - GRPC_HOST=backend:50051
    command: ["python", "gateway/main.py"]
    depends_on:
      - backend

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "22181:2181"

  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  notification-service:
    build: .
    command: ["python", "notification_service/main.py"]
    environment:
      - KAFKA_BROKER_URL=kafka:9092
    depends_on:
      - kafka

  frontend:
    build: ./web
    ports:
      - "5173:80" # Map host 5173 (standard vite port) to container 80 (nginx)
    depends_on:
      - gateway
